<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm an independent contractor deeply immersed in various blockchain technologies, and I excel at merging engineering and design. My passion lies in seamlessly combining technical expertise with a design-centric approach to create elegant products. My ultimate goal is to craft applications that excel in both scalability and efficiency while providing captivating user experiences down to the pixel.
      <!-- I'm currently an Engineer at
      <a class="underline-link" href="https://www.upstatement.com/" target="_blank">Upstatement</a> building things for the web with some awesome people. I recently graduated from
      <a class="underline-link" href="http://www.ccis.northeastern.edu/" target="_blank">Northeastern University</a> after completing three awesome six-month co-ops at
      <a class="underline-link" href="https://us.mullenlowe.com/" target="_blank">MullenLowe U.S.</a>,
      <a class="underline-link" href="https://starry.com/" target="_blank">Starry</a>, and
      <a class="underline-link" href="https://www.apple.com/music/" target="_blank">Apple Music</a>. -->
    </p>

    <p>
      My expertise spans from architecting tailored blockchain solutions and implementing Ethereum Improvement Proposals (EIPs) to crafting seamless DeFi applications that reshape the financial landscape. Proficient in a variety of programming languages, Git/Github, and cloud-based migration, I'm all about transforming ideas into cutting-edge realities. I'm driven by innovation and actively seeking collaborative projects that push the boundaries of blockchain technology, setting the stage for a tech-forward future.

    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably swimming, nurturing my beautiful plants,
      or crossing off another item on my bucket list.
    </p>

    {% include employment-status.html %}
  </div>
</section>
